API_ID=31294159
API_HASH=6f75882f8ecb4346ca3295142ee26ff8
BOT_TOKEN=8974683060:AAE1GPIqA0VdSaPjvUNgF_Aey_mXnabY3CM
STRING_SESSION=BQHdgs8ACfSV84F4EPn3smvEXjCJgznJ7uAtIpVyxDPv5r2w9D2Y_mFrRbuhlTtGG23Z-0lJOTZTGgTKx1JVDfCqGkgd3OkRaBhBWDxrDRkQgL-TxSwc760Py4R-c_Ayb5mHvj0WJVBzAgW_uTppORUDM2nOi6_VZ1M8KbFRxND31A1lGxvYBFH8U2F1kvysRQDsjSU2zcMmVk0lmRghI_SyYSOnK6N4aW5YXOR9CoNXqo6PTtEZKLlCbhoQgkCzskh22dI2kpfjCj5JASCejFTos9Yf5gBZ-7ltFL9KM4FiEmhEPU4HTAfXhDklPWT-x6bdqdr4BsR4pTVYWbOyCaTgx3MdmAAAAAFJtIvfAA
LOG_GROUP_ID=-1003999518683
OWNER_ID=8218447230
MONGO_DB_URI=mongodb+srv://MySecretPass123:<db_password>@cluster0.e61hvi4.mongodb.net/
API_KEY=ZEXXY1NEXOR
API_URL=https://a56389-6bee.c.jrnm.app
API_TYPE=audio
API_FORMAT=mp3
SUPPORT_URL=https://t.me/devilSupport_Gurup
CHANNEL_URL=https://t.me/devilSupport_channel
OWNER_URL=https://t.m wae/ll_SHIVA_DEVIL_ll
# Render deploy karte waqt yeh apne aap set ho jaata hai — manually chhod do khaali
RENDER_EXTERNAL_URL=
PING_INTERVAL=600
